@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap);

body {
  background-color: #eee;
  font-family: 'Calibri', sans-serif !important;
}

  h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}

.mt-100{
  margin-top:100px;
}

.card {
  margin-bottom: 30px;
  border: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
  background-color: #fff;
  border-bottom: none;
  padding: 24px;
  border-bottom: 1px solid #f6f7fb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
  padding: 30px;
  background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
  background-color: #4466f2!important;
  border-color: #4466f2!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}