  <div class="container-fluid  mt-100">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body cart">
            <div class="col-sm-12 empty-cart-cls text-center">
              <i class="checkmark">✓</i>
              <h1>Success</h1> 
              <p>Thanks {{userName}}, We received your purchase by <span class="fw-bold" > Total: {{totalPrice}}$ </span><br/> we'll be in touch shortly!</p>
              <a routerLink="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Get Back to Products!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>